html, body, h1, h2, h3 {
padding: 0;
border: 0;
margin: 0;
font: inherit;
font-size: 100%;
}

p {
    text-align: center;
    font-size: 30px;
    padding: .5px;
}

body {
  	font-family: 'Open Sans', sans-serif;
	background-color: #CCCCCC;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

form {
        font-family: 'Open Sans', sans-serif;
	background-color: #CCCCCC;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
        text-align: center;
}

h1 {
    text-align: center;
        font-size: 60px;
        color: #000;
        
}
h2 {
    text-align: center;
  	font-size: 40px;
  	color: #000;
	background-color: #E57F00;
    background-size: cover;
    padding: 40px;
    border: 5px solid black;
    border-radius: 25px;
	text-shadow: 4px 6px 0 #999999;
    margin: 10px;
    font-weight: bold;
}

h3	{
	text-align: center;
	font-size: 20px;
	color: white;
	margin: 10px;
	background-color:  #000000;
	border: 2px solid black;
	border-radius: 25px;
	padding: 5px;
}

.textbox {
        height: 20px;
        width: 100px;
        margin: auto;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        border: 2px solid blue;
        text-align: center;
}

.headdivide	{
	margin: 10px;
	background-color:  #E57F00;
	border: 2px solid black;
	border-radius: 25px;
	padding: .1px;
}

.actionbox	{
        float: left;
        background-color: yellow;
	border: 1px solid black;
	border-radius: 15px;
	padding: 3px;
}


a:link {
    	color:black;
    	background-color:transparent;
    	text-decoration:none;
		}
		
		a:visited {
    	color:black;
    	background-color:transparent;
    	text-decoration:underline;
		}
		
		a:hover {
    	color:green;
    	background-color:transparent;
    	text-decoration:underline;
		}

.footer {
        text-align: center;
        font-size: 10px;
        color: #000;            
}
                
.thumbnail {
    float: left;
    width: 210px;
    height: 190px;
    margin: 15px;
}

.flash {color: red;}




